
<mat-toolbar class="header">
    <span class="filler">
        <a routerLink="/" title="Bingo Online">
            <img class="Bingo" src="assets/bingo-logo.png" alt="Bingo" width="115">
        </a>
    </span>
    <div class="nome-usuario">Alex de Carvalho</div>
    <button class="gap" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
        
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>assignment_ind</mat-icon>
          <span>Meus Dados</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Desabilitar Alertas</span>
        </button>
        <button mat-menu-item color="warn">
            <mat-icon>closely</mat-icon>
            <span>Sair</span>
          </button>
      </mat-menu>
</mat-toolbar>