<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" 
    fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/inicio"  class="cor-texto">
                <mat-icon color="primary">home</mat-icon> 
                Início
            </a>
            <a mat-list-item routerLink="/bingo/config" class="cor-texto"> 
                <mat-icon color="primary">settings</mat-icon> 
                Configurações
            </a>
<!--
            <button mat-button [matMenuTriggerFor]="menu">
                <i class="material-icons">people</i>
                Usuário
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/auth/register">
                    <mat-icon>person_add</mat-icon>
                    Cadastro de Usuário
                </button>
                <button mat-menu-item  routerLink="/auth/login">
                    <mat-icon>login</mat-icon>
                    Login
                </button>
            </mat-menu>
        -->            

            <!--<a mat-list-item routerLink="/cartel">
                <i class="material-icons">casino</i>
                Casino
            </a>-->

            <a mat-list-item routerLink="/bingo/play"  class="cor-texto">
                <mat-icon color="primary">sentiment_satisfied_alt</mat-icon> 
                Sorteio
            </a>

            <a mat-list-item routerLink="/notfound-page"  class="cor-texto">
                <mat-icon color="primary">warning</mat-icon> 
                Not Found 404
            </a>

            <a mat-list-item color="warn" class="cor-texto-sair">
                <mat-icon color="warn">closely</mat-icon>
                 Sair 
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="content">
       <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>
