<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" 
    fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item routerLink="/config">
                <i class="material-icons">settings</i>
                Configurações
            </a>

            <a mat-list-item routerLink="/users">
                <i class="material-icons">people</i>
                Usuários
            </a>

            <a mat-list-item routerLink="/cartel">
                <i class="material-icons">casino</i>
                Casino
            </a>

            <a mat-list-item routerLink="/bingo/play">
                <i class="material-icons">sentiment_satisfied_alt</i>
                Sorteio
            </a>

            <button mat-button color="warn" aria-label="Sair">
                <mat-icon>closely</mat-icon> Sair 
            </button>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="content">
       <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>
