#balls{
    display:flex;
    flex-direction: row;
}
.ball{
    position: relative;
    width: 60px;
    height: 60px;
    background: #004E99;
    border-radius: 50%;
    box-shadow: 10px 15px 15px -5px rgba(0,0,0,0.4);
    float: left;
    margin: 1%;
    font:16px/1 Helvetica, Arial, sans-serif;
    
}
.ball>div{
	position:absolute;
	width:100%;
	height:100%;
	border-radius:50%;
}
.ball>div>span{
    position: absolute;
    left: 9px;
    top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    font-weight: bold;
    background: #ffffffc4;
}
/* YOUR COLORS */
.ball.blue{   
    background: rgb(63,94,251);
    background: linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, rgba(28,206,234,0.82) 100%);}
.ball.red{    background: rgb(63,94,251);
    background: linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, rgba(28,206,234,0.82) 100%);}
.ball.green{ background: rgb(63,94,251);
    background: linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, rgba(28,206,234,0.82) 100%);}
.ball.yellow{ background: rgb(63,94,251);
    background: linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, rgba(28,206,234,0.82) 100%);}
.ball.violeta{ background: radial-gradient(circle at 20px 20px, #654EA3, #001);}
.ball.marrom{ background: radial-gradient(circle at 20px 20px, #E25A44, #001);}
.ball.verde{ background: radial-gradient(circle at 20px 20px, #019B77, #001);}
.ball.amarelo{ background: radial-gradient(circle at 20px 20px, #EEBD57, #001);}

.font-cor{color:#84818f;}