.footer{
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    
}
.footer  span{
    font-size: 12px;
    font-weight: 300;
}
.v-middle{
    vertical-align: middle;
}