<mat-card>
    <mat-card-title class="title">Bem Vindo!!!</mat-card-title>  
    <mat-card-subtitle class="subtitle">
        Sistema para controle de Bingo!<br>
        Versão {{version}}<br>
        Data: {{versionDate}} última atualização.
    </mat-card-subtitle>

    <mat-card-content>
    </mat-card-content>
</mat-card>


<mat-card class="home">
    
    <mat-card-content>
        <h1>O que é Bingo?</h1>

        <p> 
            -> O bingo é um jogo de azar onde bolas numeradas são colocadas dentro de um globo e sorteadas uma a uma. <br>
            -> O jogo é comum em cassinos, casas de bingo, quermesses e festas juninas (no Brasil), 
            além de servir como diversão caseira entre famíliares e amigos.<br>
            -> O jogo do bingo, tal como hoje o conhecemos, foi divulgado por Edwin Lowe, fabricante de brinquedos nos Estados Unidos da América.</p>
       
        <h2>Regras do Bingo Online</h2>

    <p>O primiero jogador que completar 20 números da cartela que contém 60 números é o vencendor, lembrando que pode exister mais de um vencedor na mesma partida, 
        neste caso o prêmio é dívidio entre os ganhadores.</p>

    </mat-card-content>
  </mat-card>
  