.home{
    background-color: rgb(225 230 231 / 0%);
    background: linear-gradient(-45deg, rgb(230 237 237 / 8%) 0%, rgb(52 167 196 / 8%) 100%);

}
.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.home .subtitle{
    font-size: 1.1rem;
}