/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif; 
   /* background-color: rgba(28,206,234,0.82);
    background: linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, rgba(28,206,234,0.82) 100%);*/
}
